@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    /* -------------------------------------- */
    --background-color: hsl(0, 0%, 100%);
    --background-color-one: hsl(278, 94%, 30%);
    --background-color-two: hsl(278, 68%, 11%);
    /* -------------------------------------- */
    --text-color: hsl(0, 0%, 100%);
    --text-color-one: hsl(279, 6%, 55%);
    --text-color-two: hsl(278, 68%, 11%);
    /* -------------------------------------- */
    --border-color: hsl(249, 99%, 64%);
    --border-color-one: hsl(270, 3%, 87%);
}

body {
    display: flex;
    margin-top: 50px;
    overflow-y: hidden;
    justify-content: center;
    font-family: "Space Grotesk";
    background-color: var(--background-color);
}

.container{
    width: 1600px;
    height: 800px;
    border:2px solid red;
    background: url(/images/bg-main-desktop.png)no-repeat;
}

.image-card-front{
    width: 100%;
    height: 400px;
    background: url(/images/bg-card-front.png)no-repeat;
}