@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    /* -------------------------------------- */
    --background-color: hsl(0, 0%, 100%);
    --background-color-one: hsl(278, 94%, 30%);
    --background-color-two: hsl(278, 68%, 11%);
    /* -------------------------------------- */
    --text-color: hsl(0, 0%, 100%);
    --text-color-one: hsl(279, 6%, 55%);
    --text-color-two: hsl(278, 68%, 11%);
    --text-color-three: hsl(278, 94%, 30%);
    /* -------------------------------------- */
    --border-color: hsl(249, 99%, 64%);
    --border-color-one: hsl(270, 3%, 87%);

    --error-color: hsl(0, 100%, 66%);
}

body {
    display: flex;
    margin-top: 50px;
    overflow-y: hidden;
    justify-content: center;
    font-family: "Space Grotesk";
    background-color: var(--background-color);
}

input {
    border: none;
}

.container {
    display: flex;
    width: 1600px;
    height: 800px;
    align-items: center;
    justify-content: center;
    background: url(./images/bg-main-desktop.png)no-repeat;
}

.container-left {
    width: 100%;
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    flex-direction: column;
}

.image-card-front {
    flex: 290px;
    height: 400px;
    width: 500px;
    background: url(/images/bg-card-front.png)no-repeat;
}

.image-logo {
    width: 90px;
    height: 90px;
    margin: 30px 20px;
    background: url(/images/card-logo.svg)no-repeat;
}


.info--date {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.vality--info {
    display: flex;
    font-size: 16px;
    margin-right: 90px;
    letter-spacing: 2px;
    align-items: center;
    color: var(--text-color);
}

.number--card {
    margin: 0 25px;
    font-size: 32px;
    letter-spacing: 1px;
    color: var(--text-color);
}

.name--card {
    font-size: 16px;
    margin-left: 30px;
    letter-spacing: 1px;
    color: var(--text-color);
    text-transform: uppercase;
}

.image-card-back {
    flex: 290px;
    width: 500px;
    height: 400px;
    margin-left: 100px;
    background: url(/images/bg-card-back.png)no-repeat;
}

.info--cvc {
    display: flex;
    margin-right: 110px;
    justify-content: end;
}

.number--cvc {
    margin-top: 110px;
    letter-spacing: 2px;
    color: var(--text-color);
}

.container-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.image-complete {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.finish {
    margin: 20px 0;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color-two);
}

.datails {
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    color: var(--text-color-one);
}

.full-name, .full-number--card, .day-month, .code-cvc {
    font-size: 18px;
    margin-top: 24px;
    text-transform: uppercase;
    color: var(--text-color-two);
}

.day-month {
    letter-spacing: 2px;
}

.desc-input {
    width: 400px;
    padding: 15px;
    outline: none;
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    color: var(--text-color-one);
    transition: ease-in-out 0.3s;
    border: 1px solid var(--border-color-one);
}

.desc-input:hover {
    border: 1px solid var(--border-color);
}

.info-month-year {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.month, .year {
    width: 100px;
}

.code-security {
    display: flex;
    flex-direction: column;
}

.cvc {
    width: 160px;
}

.btn {
    width: 400px;
    display: flex;
    padding: 15px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-two);
}

.btn-confirm {
    color: var(--text-color);
}

@media(max-width:1906px) {
    .container {
        width: 100%;
        height: 100vh;
        margin-top: -50px;
    }
}

@media (max-width:1174px) {
    .container {
        background-position: -90px;
    }
    .image-card-front{
        flex: 240px;
    }
    
    .image-card-front, .image-card-back {
        background-size: 350px;
    }

    .number--card {
        font-size: 25px;
        margin-top: -30px;
        margin-left: 20px;
    }

    .name--card {
        margin-left: 20px;
    }


    .vality--info {
        margin-right: 160px;
    }

    .number--cvc {
        margin-top: 85px;
        margin-right: 80px;
    }

    .day-month, .full-name, .full-number--card{
        font-size: 15px;
    }

    .desc-input{
        width: 350px;
    }

    .month, .year{
        width: 70px;
    }

    .cvc{
        width: 140px;
    }

    .btn{
        width: 350px;
    }
}

@media(max-width:1074px){
    .container{
        
        background: none;
        flex-direction: column;
        background-size:100% 35%;
        background-repeat: no-repeat;
        background-image: url(/images/bg-main-mobile.png);
    }

    .image-card-front{
        bottom: 33%;
        position: absolute;
    }

    .day-month, .full-name, .full-number--card{
        font-size: 15px;
    }

    .month, .year{
        width: 90px;
    }

    .container-left{
        max-width: fit-content;
    }

    .container-right{
        max-width: fit-content;
    }
}

@media(max-width:756px){
    .image-card-back{
        margin-top: 20px;
    }
}
